@import "tailwindcss";

h1 {
  font-family: var(--font-signature-december);
  font-weight: bold;
  font-style: italic;
  font-size: var(--text-xl);
  line-height: calc(var(--spacing) * 16);

  @variant sm {
    font-size: var(--text-2xl);
    line-height: calc(var(--spacing) * 20);
  }

  @variant md {
    font-size: var(--text-3xl);
    line-height: calc(var(--spacing) * 24);
  }

  @variant lg {
    font-size: var(--text-4xl);
    line-height: calc(var(--spacing) * 28);
  }

  @variant xl {
    font-size: var(--text-5xl);
    line-height: calc(var(--spacing) * 32);
  }
}

* {
  font-family: var(--font-roboto);
  font-size: var(--text-lg);
}
