@import "tailwindcss";

@font-face {
  font-family: "antro-vectra";
  src: url("./assets/fonts/antro-vectra/Antro_Vectra.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "jmh-typewriter";
  src: url("./assets/fonts/jmh-typewriter/JMH Typewriter.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-antro-vectra: "antro-vectra", cursive;
  --font-jmh-typewriter: "jmh-typewriter", serif;
}

@theme {
  --color-surface-primary: #e5e2d6;
  --color-surface-secondary: #f6f6f6;
  --color-accent-primary: #939393;
  --color-accent-secondary: #898989;
}
